.margin-bottom-15{
	margin-bottom:15px;
}
.margin-right-5{
	margin-right:5px;
}
.alinear-izquierda{
	float:left;
}
.alinear-derecha{
	float:right;
}
.centrar-texto{
	text-align:center;
}

#map{
	height:300px;
}